@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.brand-gradient {
  background-image: linear-gradient(to bottom right, #f97316, #ec4899, #7c3aed);
}

.brand-gradient-text {
  background-image: linear-gradient(to bottom right, #f97316, #ec4899, #7c3aed);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}